.button {
  background-color: #445069;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
    &:hover,
    &:active {
      box-shadow: none;
      opacity: 0.7;
    }
  }

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  &:active {
    background-color: #252b48;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
  }
}
