.list_todo {
  height: 100%;
  max-height: 700px;
  margin-block: 50px 20px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
  background-color: #2b3935;
  border: 10px solid #805a47;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}